{% extends 'layouts/c.html' %}

{% block content %}
  <h1 class="mb-2">Complete your Profile</h1>
  <div class="text-center flex flex-col items-center">
    <img id="avatar" class="w-36 h-36 rounded-full object-cover mb-4" src="{{ user.profile.avatar }}" />
    <div class="text-center max-w-md">
      <h1 id="full_name">{{ user.profile.name }}</h1>
      <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">Skip</a>
  </form>

  <script>
    const fileInput = document.querySelector('input[type="file"]')
    
    fileInput.addEventListener('change', (event) => {
      const file = event.target.files[0]
      const image = document.querySelector('#avatar')
    
      if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file)
        image.src = url
      }
    })
    
    const full_nameInput = document.getElementById('id_full_name')
    const full_nameOutput = document.getElementById('full_name')
    
    full_nameInput.addEventListener('input', (event) => {
      full_nameOutput.innerText = event.target.value
    })
  </script>
{% endblock %}
